<div class="Educations">
    <h2>Educations</h2>
         <dl>
    <dt>Korea Advanced Institute of Science and Technology<a href="https://www.kaist.ac.kr/"> (link)</a><span style="float:right; color:#3a3a3a">Sep. 2021 - Aug. 2023</span> </dt>
        <dd><li><span style="color:#3a3a3a";>M.S. candidate in Industrial and Systems Engineering</span></li></dd>
        <dd><li><span style="color:#3a3a3a";>Research interest: Graph Neural Networks with their applications</span></li></dd>
        <dd><li><span style="color:#3a3a3a";>Advisor: <a href="https://dsail.kaist.ac.kr/professor/">Chanyoung Park</a></span></li></dd>
    <dt>Hanyang University<a href="https://www.hanyang.ac.kr/"> (link) </a><span style="float:right; color:#3a3a3a";>Mar. 2015 - Aug. 2021</span> </dt>
        <dd><li><span style="color:#3a3a3a";>B.S. in Industrial Engineering (<em style="color:#3a3a3a">Summa Cum Laude</em>)</span></li></dd>
        <dd><li><span style="color:#3a3a3a";>Advisor: <a href="http://ids.hanyang.ac.kr/professor.html">Kichun Lee</a></span></li></dd>

    </dl>
  </div>

<p>
</p>
<br>
</br>

<div class="Research Experience">
    <h2>Research Experience</h2>
       <dl>
        <dt> Visting Researcher, <em><a href="http://www.net.c.titech.ac.jp/index.html">Murata Lab@Tokyo Tech </em></a><span style="float:right; color:#3a3a3a";>Oct. 2022 - Feb. 2023</span> </dt>
        <dd>
            <li><span style="color:#3a3a3a";>Explored weaknesses of structured-based and GNN-based methods in graphs with missing features</span></li>
            <li><span style="color:#3a3a3a";>Proposed supervised contrastive learning that incorporates pseudo-labels in graph domains</span></li>
            <li><span style="color:#3a3a3a";>Submitted a paper that alleviates missing feature problem on graphs at NeurIPS 2023</span></li>
        </dd>
        
        <dt> Research Intern, <em><a href="https://dsail.kaist.ac.kr/">DSAIL@KAIST </em></a><span style="float:right; color:#3a3a3a";>Dec. 2020 - Feb. 2021</span> </dt>
        <dd>
            <li><span style="color:#3a3a3a";>Explored the theoretical basis and practical implementation of GNNs such as GCN and GAT <a href="https://github.com/SukwonYun/GNN-Papers/blob/master/GCN/GCN_SukwonYun.pdf">(link)</a></span></li>

        </dd>

        <dt> Student Researcher, <em><a href="http://ids.hanyang.ac.kr/index.html">IDSL@HYU </em></a><span style="float:right; color:#3a3a3a";>Sep. 2020 - Aug. 2021</span> </dt>
        <dd>
            <li><span style="color:#3a3a3a";>Proposed an advanced version of Neural Graph Collaborative Filtering using a heterogeneous graph</span></li>
            <li><span style="color:#3a3a3a";>Implemented Matrix Factorization of the BPR model using multiprocessing on the Epinion dataset</span></li>
            <li><span style="color:#3a3a3a";>Implemented One-Class SVM on anomaly detection task using MNIST dataset</span></li>

        </dd>



  </dl>
  </div><br>

  <div class="Teaching Experience">
    <h2>Teaching Experience</h2>
       <dl>
        <dt> IE343: Statistical Machine Learning,  <em>Spring 2022</em> </dt>
        <dd>
            <li><span style="color:#3a3a3a";>Hosted Kaggle Competition (Course Project) for predicting person's income using demographic dataset</li>
        </dd>

  </dl>
  </div><br>


  <div class="Awards">
    <h2>Awards</h2>
       <dl>
        <dd>
            <li><span style="color:#3a3a3a";>Best Paper Award, ICML Workshop on Computational Biology, Honolulu, Hawai’i, USA (2023)</li>
            <li><span style="color:#3a3a3a";>Poster Competition Excellence Award, ISysE, KAIST (2023)</li>
            <li><span style="color:#3a3a3a";>SIGIR Student Travel Award (2022)</li>
            <li><span style="color:#3a3a3a";>Merit Based Scholarship, IE, HYU (2021)</li>
            <li><span style="color:#3a3a3a";>Hanyang Academic Achievement Award, College of Engineering, HYU (2021)</li>        
        </dd>

  </dl>
  </div><br>

  <div class="Academic Services">
    <h2>Academic Services</h2>
       <dl>
        <dt> Conference Reviewer </dt>
        <dd>
            <li><span style="color:#3a3a3a";>The International Conference on Learning Representations (ICLR), 2024</li>
            <li><span style="color:#3a3a3a";>Conference on Parsimony and Learning (CPAL), 2024</li>
            <li><span style="color:#3a3a3a";>Conference on Neural Information Processing Systemss (NeurIPS), 2023</li>
        </dd>

  </dl>
  </div><br>