<div class="Educations">
    <h2>Educations</h2>
         <dl>
    <dt>Korea Advanced Institute of Science and Technology<a href="https://www.kaist.ac.kr/"> (link)</a><span style="float:right; color:#808080">Sep. 2021 - present</span> </dt>
        <dd><li><span style="color:#808080";>M.S. candidate in Industrial and Systems Engineering</span></li></dd>
        <dd><li><span style="color:#808080";>Research interest: Graph Neural Networks; Differential Equations on NN</span></li></dd>
        <dd><li><span style="color:#808080";>Advisor: <a href="https://dsail.kaist.ac.kr/professor/">Chanyoung Park</a></span></li></dd>
    <dt>Hanyang University<a href="https://www.hanyang.ac.kr/"> (link) </a><span style="float:right; color:#808080";>Mar. 2015 - Aug. 2021</span> </dt>
        <dd><li><span style="color:#808080";>B.S., Industrial Engineering (<em style="color:#808080">Summa Cum Laude</em>)</span></li></dd>
        <dd><li><span style="color:#808080";>Advisor: <a href="http://ids.hanyang.ac.kr/professor.html">Kichun Lee</a></span></li></dd>

    </dl>
  </div>

<p>
</p>
<br>
</br>

<div class="Research Experience">
    <h2>Research Experience</h2>
       <dl>
        <dt> Stundent Researcher, <em><a href="http://ids.hanyang.ac.kr/index.html">IDSL@HYU </em></a><span style="float:right; color:#808080";>Sep. 2020 - Aug. 2021</span> </dt>
        <dd>
            <li><span style="color:#808080";>Researched advanced version of Neural Graph Collaborative Filtering <a href="https://github.com/SukwonYun/Advanced-NGCF">(link)</a> </span></li>
            <li><span style="color:#808080";>Implemented One-Class SVM on Anomaly Detection task using MNIST dataset <a href="https://github.com/SukwonYun/Anomaly_Detection-PBL">(link)</a></span></li>
        </dd>


        <dt> Stundent Researcher, <em><a href="https://dsail.kaist.ac.kr/">DSAIL@KAIST </em></a><span style="float:right; color:#808080";>Dec. 2020 - Feb. 2021</span> </dt>
        <dd>
            <li><span style="color:#808080";>Read and implemented key papers on RecSys and GNNs</span></li>
            <li><span style="color:#808080";>Gave presentations of BPR <a href="https://github.com/SukwonYun/RecSys-Papers/blob/master/BPR/BPR_SukwonYun.pdf">(link)</a>, <em>GCN</em> <a href="https://github.com/SukwonYun/GNN-Papers/blob/master/GCN/GCN_SukwonYun.pdf">(link)</a>, GAT <a href="https://github.com/SukwonYun/GNN-Papers/blob/master/GAT/GAT_SukwonYun.pdf">(link)</a> </span></li>
            <li><span style="color:#808080";>(Project) Generated financial networks and enhanced user representation by utilizing GraphSAGE</span></li>

        </dd>
  </dl>
  </div><br>

  <div class="Teaching Experience">
    <h2>Teaching Experience</h2>
       <dl>
        <dt> IE343: Statistical Machine Learning,  <em>Spring 2022</em> </dt>
        <dd>
            <li><span style="color:#808080";>Hosted Kaggle Competition (Course Project) for predicting person's income using demographic dataset</li>
        </dd>

  </dl>
  </div><br>